@charset "UTF-8";

.ontology-widget {
	width: 100%;
	overflow: auto;
	font: 13.34px helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4em;
}

.ontology-widget h2 {
	margin-top: 15px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	color: #333;
	border-bottom: 1px solid #DDD !important;
}

.ontology-widget .treeBox {
	float: left;
	width: 55%;
}

.ontology-widget .searchBox {
	width: 100%;
	padding: 5px;
}

.ontology-widget .searchBox .treeSearch {
	width: 95%;
	margin: auto;
	border-radius: 2px;
	border: 1px solid silver;
	padding: 5px 5px;
}

.ontology-widget .tree {
	position: relative;
	background: #F6F6F6 none repeat scroll 0% 0%;
	border: 1px solid #DDD;
	border-radius: 5px;
	overflow: auto;
	max-height: 500px;
}

.ontology-widget .details {
	float: left;
	width: 43%;
	padding-left: 10px;
	overflow: scroll;
}

.ontology-widget .details th.section {
	text-align: left;
}

.ontology-widget .details td.key {
	font-weight: 700;
	width: 120px;
	float: left;
	text-align: right;
}

.ontology-widget .details td.value {
	padding-left: 30px;
	word-wrap: break-word;
  word-break: break-word;
}

.ontology-widget .details td.value ul {
	margin: 0;
	padding: 0 0 0 15px;
}

/* Type labels for tree node and details view title  */
.ontology-widget .nodeLabeled::after {
  color: white;
  font-size: 9px;
  border-radius: 5px;
  padding: 2px 3px;
  font-weight: bolder;
  margin-left: 5px;
  font-style: normal;
}
.ontology-widget .ontology::after {
  content: "ONTOLOGY";
	background-color: #01243B;
}
.ontology-widget .traitClass::after {
  content: "TRAIT CLASS";
  background-color: #336699;
}
.ontology-widget .trait::after {
	content: "TRAIT";
  background-color: #5288DB;
}
.ontology-widget .variable::after {
  content: "VARIABLE";
  background-color: #71C42B;
}
.ontology-widget .method::after {
  content: "METHOD";
  background-color: #540D6E;
}
.ontology-widget .scale::after {
  content: "SCALE";
  background-color: #F39237;
}

/*
 * Import JSTree styles and inline image
 * /!\ All of the code below Requires LESS compilation (http://lesscss.org)
*/

/* Import JSTree styles */
@import "node_modules/jstree/src/themes/default/style";

/* Inline required images into this file */
.jstree .jstree-node, .jstree .jstree-icon, .jstree .jstree-file,
.jstree .jstree-folder, .jstree .jstree-ok, .jstree .jstree-checkbox,
.jstree .jstree-er {
	background-image: data-uri('node_modules/jstree/src/themes/default/32px.png');
}
.jstree > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background-image: data-uri('node_modules/jstree/src/themes/default/throbber.gif');
}
.jstree .jstree-last {
	background: none;
}
