@CHARSET "UTF-8";

.ontology-widget {
	width: 1024px;
	overflow: auto;
	font: 13.34px helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4em;
}

.ontology-widget h2 {
	margin-top: 15px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	color: #333;
	border-bottom: 1px solid #DDD !important;
}

.treeBox {
	float: left;
	width: 500px;
}

.searchBox {
	width: 100%;
	padding: 5px;
}
.searchBox .treeSearch {
	width: 95%;
	margin: auto;
}

.tree {
	position: relative;
	background: #F6F6F6 none repeat scroll 0% 0%;
	border: 1px solid #DDD;
	border-radius: 5px;
}

.details {
	float: left;
	width: 500px;
	padding-left: 10px;
}

.details dl {
  margin-top: 0;
}

.details dl dt {
	font-weight: 700;
	float: left;
	width: 170px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.details dl dd {
	margin-left: 190px;
}
