@CHARSET "UTF-8";

.ontology-widget h2 {
	margin-top: 15px;
	margin-bottom: 0px;
	padding-bottom: 5px;
	font-size: 16px;
	color: #333;
	border-bottom: 1px solid #DDD !important;
}

.ontology-widget {
	width: 1024px;
	overflow: auto;
	font: 13.34px helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4em;
}

.details-content {
	position: relative;
	background: #F6F6F6 none repeat scroll 0% 0%;
	border: 1px solid #DDD;
	border-radius: 5px;
}

.details {
	float: right;
	width: 500px;
}

.detail-element:hover {
	background-color: #EDEDED;
}

.detail-element {
	clear: both;
	overflow: hidden;
	line-height: 150%;
	padding: 5px 0px;
	border-bottom: 1px solid #DDD;
}

.detail-element span {
	float: left;
	font-weight: bold;
	padding: 0px 5px;
	text-align: right;
	width: 118px;
}

.treeBox {
	float: left;
	width: 500px;
}

.tree {
	position: relative;
	background: #F6F6F6 none repeat scroll 0% 0%;
	border: 1px solid #DDD;
	border-radius: 5px;
}